body {
  background-color: #f0f0f0; /* Light grey color */
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
  font-family: Arial, sans-serif; /* Optional: Set a default font */
}

.quiz-container {
  width: 60%;
  margin: auto;
  text-align: left;
  
}

.question-category {
  font-size: 18px;
  color: #8f8383;
  margin-top: -20px;
  text-align: left;
  font-weight: normal;
  
}

.progress-container {
  height: 10px;
  background-color: #ddd;
  margin-bottom: 20px;
}

.progress-bar {
  height: 10px;
  background-color: #000000;
}

.difficulty-stars {
  margin-bottom: -10px;
  margin-top: -20px;
}

.star-black {
  color: black;
  font-size: 24px;
}

.star-white {
  color: white;
  font-size: 24px;
}

.options-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.options-grid button {
  padding: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: bold;
}

.answer-feedback {
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.score-container {
  margin-top: 20px;
  position: relative;
}

.score-progress-bar-container {
  height: 25px;
  position: relative;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}

.score-progress-bar, .max-score-progress-bar, .min-score-progress-bar {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.score-text {
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
}
